/* Global CSS */
html {
    scroll-behavior: smooth;
}

body {
    background-color: #fff;
    color: #fff;
}

a, a:hover {
    text-decoration: inherit;
    color: inherit;
    scroll-margin-top: 90px;
}

.adjust {
    margin-bottom: -70px !important;
}

.absolute {
    position: absolute;
}

.absolute-top-left {
    position: absolute;
    top: 30px;
    left: 30px;
}

.btn-primary {
    font-size: 16px;
    background-color:  #134D5C;
    box-shadow: 0 3px 5px 0 #140814;
    border: 0;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color:  #902b30 !important;
    color: #fff;
    border: 0 !important;
    box-shadow: 0 3px 5px 0 #140814 !important;
}

.btn-sec {
    font-size: 16px;
    background-color:  #D14243;
    color: #fff;
    box-shadow: 0 3px 5px 0 #140814;
    border: 0;
}

.btn-sec:hover, .btn-sec:active, .btn-sec:visited {
    background-color:  #902b30 !important;
    color: #fff;
    border: 0 !important;
    box-shadow: 0 3px 5px 0 #140814 !important;
}

.col-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.desktop-dn {
    display: none;
}

h1, h2, h3, h4, h5, h6, p {
    font-family: 'Nunito', sans-serif;
    margin: 0;
}

h1, h2, h3 {
    font-weight: 900;
    margin-left: -1.5px;
}

.ls-1 {
    letter-spacing: .83px;
}

.mobile-dn {
    display: flex;
}

.primary-color {
    color: #D14243;
}

.sec-color {
    /* color: #140814; */
    color: #134D5C;
}

.shadow {
    box-shadow: 0 0 3px rgba(22,28,45,.15)!important;
}

.rounded {
    border-radius: 6px;
}

ul li {
    margin-bottom: 10px;
}


@media(max-width: 900px) {
    .mobile-dn {
        display: none;
    }
    .desktop-dn {
        display: flex;
    }
    a {
        scroll-margin-top: 70px;
    }
}

/* Other CSS */

/* Header */

#header {
    background-color:  #fff;
    position: sticky;
    top: 0;
    z-index: 10;
}

.header-box-shadow {
    box-shadow: 0 0 16px rgba(22,28,45,.15);
    display: flex !important;
}

.header-cont {
    display: none;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

#header-logo {
    max-width: 50px;
    max-height: 50px;
}

.header-right-cont {
    align-items: center;
}

.header-right-text {
    color:#140814;
    font-size: 13px;
    background-color: transparent!important;
    letter-spacing: 1px;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: 900;
    transition: all .5s;
    font-family: "Nunito",sans-serif;
    padding-left: 8px;
    padding-right: 8px;
    text-shadow: 0px 0px 0.5px #3c4858;
}

.header-right-last {
    margin-right: 15px;
}

.fa-1x {
    font-size: 1.5rem;
}
.navbar-toggler.toggler-example {
    cursor: pointer;
}
.dark-blue-text {
    color:#140814;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #140814;
}

@media(max-width: 991px) {
    .header-right-cont {
        display: none !important;
    }
}

@media(max-width: 900px) {
    #header .container {
        padding: 10px 25px;
    }
    .header-cont {
        padding: 10px;
    }
    .navbar {
        padding: 0;
        text-align: right;
        align-items: flex-end;
        flex-direction: column;
        text-align: right;
    }
}

/* End of Header */

/* Body */

.anchor-tag {
    height: 12vh;
}

.card {
    background: #fff;
    cursor: pointer;
}
.card:hover {
    transition: transform .8s;
    transform: translateY(-8px);
    box-shadow: 0 10px 25px rgba(60,72,88,.15)!important;
}

.container {
    display: flex;
    flex-wrap: wrap;
    padding: 40px 25px;
}

.contact {
    font-size: 1.5rem;
}

.hd {
    bottom: 50px;
    left: 15px;
}


.heading-text {
    margin: 20px 0;
}

.heading-text-align-center {
    margin: 20px 0;
    width: 100%;
    text-align: center;
}

.headline-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 30%;
    padding: 5% 0 0 23%;
}

.headline-img {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    object-position: 100% 0%;
}

.headline-text {
    font-size: 30px;
    margin-bottom: 10px;
}

.icons {
    font-size: 40px;
    margin: 20px 10px 35px 0;
    color: #140814;
}

.row-one {
    height:100vh;
    align-items: center;
}

.row-port {
    background-color: #134D5C;
}

.skills {
    height: 64px;
    width: 64px;
    border: 1px solid #e9ecef;
    border-radius: 90%;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D14243;
    color: white;
    margin-right: 20px;
}

.shd {
    bottom: 30px;
    left: 15px;
}

.slogan {
    width: 208px;
    bottom: 290px;
}

.slogan-button {
    width: 208px;
    bottom: 240px;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.wwo-row {
    background-color: #134D5C;
    padding: 70px;
}

.wwo-row-img {
    margin-top: -60px;
    max-height: 73vh;
}

@media(max-width: 900px) {
    .contact {
        font-size: 1.5rem;
        justify-content: left !important;
        margin-bottom: 20px;
    }
    .contact-text {
        font-size: 1.35rem;
    }
    .row-one {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    .skills-cont {
        margin-bottom: 10px;
    }
    .skills {
        height: 50px;
        width: 50px;
        font-size: 25px;
    }
}

/* End of Body */

/* Footer */

footer {
    height: 10vh;
}

/* End of Footer */